<div class="wrapper">
    <h1 class="title">{{course.title}}</h1>
    <div class="img">
        <img src="{{course.img}}" alt="{{course.title}}">
    </div>
    <p class="price">{{course.price}}</p>
    <form action="" method="POST">
        <input type="hidden" value="{{course.id}}">
        <button class="primary" type="submit">Добавить в корзину</button>
    </form>
</div>